<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content color="light">
        <ion-list id="inbox-list">
          <ion-list-header>AI Ionic</ion-list-header>
          <ion-note>Microsoft Azure</ion-note>
        </ion-list>
        <ion-item routerDirection="root" routerLink="/home" routerLinkActive="selected">
          <ion-icon style="margin-right: 10px;" name="home"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-item>
        <ion-accordion-group>
          <ion-accordion *ngFor="let p of appPages; let i = index">
            <ion-item slot="header">
              <ion-icon style="margin-right: 10px;" [name]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>

            <ion-list slot="content">
              <ion-menu-toggle auto-hide="false" *ngFor="let t of p.techs">
                <ion-item routerDirection="root" [routerLink]="t.url" routerLinkActive="selected">
                  <ion-icon style="margin-right: 10px; margin-left: 10px;" [name]="t.icon"></ion-icon>
                  <ion-label class="ion-text-wrap">{{t.name}}</ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>
          </ion-accordion>
        </ion-accordion-group>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
